.title {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 35%;
    font-size: 3rem;
    border-bottom: 2px solid gray;
    overflow: hidden;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.editor {
    font-size: 1.4rem;
    margin-top: 50px;
}