@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
.editor {
    font-size: 1.4rem;
    margin-top: 50px;
    & >div {
        & > div {
            & > div {
                & > div {
                    // border: 2px solid rgb(199, 0, 230);
                    
                    & > div {
                        width: 110% !important;
                    }
                }
            }
        }
    }
}
.title {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    width: 35%;
    font-size: 3rem;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    overflow: hidden;
    resize: none;
    height: fit-content;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.infoBox {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    display: block;
    width: 40%;
    border: 1px solid rgb(218, 218, 218);
    padding: 20px 20px;
    font-family: 'Oxygen';
}
.boxTitle {
    font-size: bold;
    font-size: 2rem;
}
.boxName {
    font-size: 1.1rem;
    color: rgb(167, 167, 167);
}
.boxDescription {
    font-size: 1.4rem;
}