@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
.editor {
    font-size: 1.4rem;
    margin-top: 50px;
}
.title {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    width: 35%;
    font-size: 3rem;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    overflow: hidden;
    resize: none;
    height: fit-content;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.infoBox {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    display: block;
    width: 40%;
    border: 1px solid rgb(218, 218, 218);
    padding: 20px 20px;
    font-family: 'Oxygen';
}
.boxTitle {
    font-size: bold;
    font-size: 2rem;
}
.boxName {
    font-size: 1.1rem;
    color: rgb(167, 167, 167);
}
.boxDescription {
    font-size: 1.4rem;
}
.review {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #006B7C;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.2s all ease;
    &:hover {
        background-color: #2F4858;
    }
}
.dialogTitle {
    font-size: 2rem;
    font-family: 'Oxygen';
    color: #2F4858;
    font-weight: bold;
}
.dialogText {
    font-size: 1.4rem;
    font-family: 'Oxygen';
    color: rgb(74, 74, 74);
}
.modalDesc {
    margin: 10px 0px;
}